body {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-linternas-rojas-diseno-chino_1308-37181.jpg");
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado {
  background-color: yellow;
  margin-top: 10px;
  border: 10px solid rgb(134, 2, 2);
  border-radius: 100px;
  height: 100px;
}
.encabezado h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Ink Free";
  font-weight: bold;
}
.sub {
  background-color: yellow;
  margin: 30px;
  width: 600px;
  height: 50px;
  justify-content: center;
  border: 10px solid rgb(134, 2, 2);
  border-radius: 100px;
}
.sub p {
  font-size: 30px;
  text-align: center;
  font-family: "Ink Free";
  font-weight: bold;
}
.sep {
  display: block;
}
